body{
background-color:#FFFFFF;
}

div#main{
margin:auto;
width:960px;
}

div#slider{
width:960px;
height:480px;
background-color:#FC378D;
}

div#welcome{
width:480px;
margin:auto;
text-align:center;
}