body{
background-color:#FFFFFF;
}

div#mainPage{
margin:auto;
width:100%;
}

div#slider{
	background-image: url(../img/slider.png);
	background-size: 100% auto no-repeat;
width:100%;
height:900;
}

div#welcome{
width:710px;
margin:100px auto;
vertical-align: middle;
text-align:center;
}

/* <<<<<<< HEAD */

div#o_mnie{
	background-color: #eb3a52;
	width:100%;
	height:100%; 
	
}

	div#krzyzyk{
	background: url("../img/krzyzyk.png") no-repeat;
	width:100px;
	height:100px;
	margin-left:12px;
	margin-top: 12px;
}





div#wer_fran{
	background: url("../img/wer_fran.png") no-repeat;
	width:400px;
	height:100px;
	margin-top:4%;
	margin-left:40%;

}


div#omnie{
	background: url("../img/omnie.png") no-repeat;
	width:400px;
	height:80px;
	margin-top:8%;
	margin-left:40%;
}


div#portfolio{
	background: url("../img/portfolio.png") no-repeat;
	width:400px;
	height:80px;
	margin-top:0%;
	margin-left:40%;
}

div#kontakt{
	background: url("../img/kontakt.png") no-repeat;
	width:400px;
	height:80px;
	margin-top:0%;
	margin-left:40%;
}

div#facebook{
	background: url("../img/facebook.png") no-repeat;
	width:200px;
	height:80px;

	margin-left:40%;
}

div#zdjecia{
	background: url("../img/zdjecia.png") no-repeat;
	width:100px;
	height:60px;
margin-top:-3.5%;
	margin-left:48%;
		

	
}




















div#kont{
	background-color: #eb3a52;
	width:100%;
	height:100%;
	margin-left:0%;
	margin-top:10%;
	
}

div#trzy_kreski	{
background: url("../img/trzy_kreski.png") no-repeat;
	
	width:80px;
	height: 80px;

}

div#text{
	text-align: center; 
	font-size: 160%;
	color: #F5F5DC;
	font-family: Verdana;


}

div#form{
margin-left:45.3%;

}

div#form2{
margin-left:45.3%;

}


div#form3{
margin-left:0%;
background-color: #eb3a52 ;


}



#button{
	background: #eb3a52; 
	color: #F5F5DC;
	height:10%;
	width:20%;
	font-size:120%;
/*======= */
.title{
	color: #ea2e49;
	font-family: Source Sans Pro Regular, Verdana, Courier New;
	font-size: 48px;
}

.text{
	color: #6e6e6e;
	font-family: Source Sans Pro Regular, Verdana, Courier New;
	font-size: 18px;
}

div#history{
	width: 100%;
	height: 435px;
}
div#wera{
	background-image: url(../img/weronika.png);
	background-size: 100% auto;
	width: 32%;
	height: 100%;
	margin-left: 8%;
	float: left;
}

div#hisInfo{
	width: 52%;
	float: left;
	margin-left: 3%;
}

.titleHis{
	color: #ea2e49;
	font-family: Source Sans Pro Regular, Verdana, Courier New;
	font-size: 48px;
	margin: 0px;
}

.menu{
	color: #6e6e6e;
	font-family: Source Sans Pro Regular, Verdana, Courier New;
	font-size: 17px;
}

div#offer{
	height: 500px;
	width: 100%;
}

div#menu{
	height: 500px;
	width: 30%;
	margin-left: 8%;
	margin-top: 5%;
	float: left;
}

div#gallery{
	height: 500px;
	width: 58%;
	margin-left: 4%;
	float: left;
}

div#gal1{
	background-image: url(../img/gallerya.gif);
	background-size: 100% auto no-repeat;
	height: 500px;
	width: 44%;
	margin-right: 4%;
	margin-top: 65px;
	float: left;
	/*<img src="../img/gallerya.gif" alt="" />*/
}

div#gal2{
	background-image: url(../img/galleryb.gif);
	background-size: 100% auto no-repeat;
	height: 500px;
	width: 44%;
	margin-right: 8%;
	margin-top: 65px;
	float: left;
}

div#wspolpraca{
	width:540px;
	margin:120px auto;
	vertical-align: middle;
	text-align:center;
/* >>>>>>> strona glowna */
}